<o-form-layout-manager attr="Feedback" mode="tab" title="FEEDBACK">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="FeedbackTable" 
            service="Feedback" 
            entity="Feedback" 
            title="FEEDBACK"
            keys="id"
            columns="id;customer_id;staff_id;comments;date_submitted" 
            header-actions="R;D"
            visible-columns="id;customer_id;staff_id;comments;date_submitted"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="customer_id" title="customer_id">
    <o-table-cell-renderer-service attr="customer_id" 
        service="Customer" entity="CustomerType" columns="id;name"
        parent-keys="id:customer_id"
        value-column="name" keys="customer_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="staff_id" title="staff_id">
    <o-table-cell-renderer-service attr="staff_id" 
        service="Staff" entity="StaffType" columns="id;name"
        parent-keys="id:staff_id"
        value-column="name" keys="staff_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #comments attr="comments" title="comments" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-date-input #date_submitted attr="date_submitted" type="date" label="date_submitted" enabled="yes" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>